@media(max-width:1300px){

    .header-list{
        display: none;
    }
    
    .side-list{
        display: block;
        width:750px;
    }
    
    
    .fa-bars{
        display: block;
        font-size:40px;
        color:black;
        position:absolute;
        top:30px;
        left:90%;
    }

    .member-name{
        width:40%;
    }
}


@media(max-width:800px){
    .member-name{
        width:60%;
    }
}
        
    
    
@media(max-width:670px){
    
    .header-list{
        display:none;
    
    }
    
    .side-list{
        display: block;
    }

    .about-list li h3{
        width:85%;
    }

    .member-name{
        width:100%;
    }

    .member-name dt{
        padding-left:5px;
    }

    .member-name dd{
        margin-left: 0;
        padding-left: 35px;
        width:50%;
    }


}

@media(min-width: 900px){
    br{
        display: none;
    }
}