@media(max-width:1300px){

    .header-list{
        display: none;
    }
    
    .side-list{
        display: block;
        width:750px;
    }
    
    
    .fa-bars{
        display: block;
        font-size:40px;
        color:black;
        position:absolute;
        top:30px;
        left:90%;
    }

}


@media(max-width: 1000px){
    .member-name{
        width:60%;
        margin-left:25%;
    }
}
    
    
@media(max-width:670px){
    
    .header-list{
        display:none;
    
    }
    
    .side-list{
        display: block;
    }

    .about-list li h3{
        width:85%;
    }

    .member-name{
        width:100%;
        margin:0 auto;
    }

    .member-name dt{
        padding-left:5px;
    }

    .member-name dd{
        margin-left: 0;
        padding-left: 40px;
        width:50%;
    }


}

@media(max-width:350px){
    .member-name dd{
        padding-left:8px;
    }
}

